/*
 * blind-mode-arch.css
 * This script makes the Arch Wiki more readable by removing the sidebar and 
 * navbar, changing text colors, and making the content full-width.
 */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("wiki.archlinux.org")
{
	/* Make links red. Looks good inverted. */
	a
	{
		color: #0079d3 !important;
		font-weight: inherit !important;
	}

	/* Remove navbar background. */
	#archnavbar
	{
		background: none !important;
	}

	/* Disable sidebar. */
	#column-one
	{
		display: none !important;
	}

	/* Make content full-width, and make text purple. */
	body, 
	h1, 
	h2, 
	h3, 
	h4, 
	h5
	{
		color: darkorchid !important;
	}

	#content
	{
		color: darkorchid !important;
		margin: 0 2em 0 2em !important;
	}
}
