/*
 * blind-mode-wikipedia.css
 * This script makes Wikipedia and its sister sites more accessible to 
 * photophobic users. It removes all extranneous page elements, recenters the 
 * content, and adjust font colors to be less harsh under inversion.
 */

@namespace url(http://www.w3.org/1999/xhtml);

@-moz-document domain("wikipedia.org"), domain("wikimedia.org"), 
	domain("wiktionary.org"), domain("wikiquote.org"), domain("wikibooks.org"), 
	domain("wikisource.org"), domain("wikinews.org"), domain("wikiversity.org"), 
	domain("wikimediafoundation.org"), domain("mediawiki.org"), 
	domain("wikivoyage.org"), domain("wiki.openstreetmap.org"), 
	domain("wikidata.org"), domain("translatewiki.net"), 
{
	/* Force darkorchid text and #0079d3 links. Blind-friendly, meant to be 
	 * inverted. 
	 */
	a
	{
		color: #0079d3 !important;
	}

	#content,
	h1,
	h2,
	h3,
	h4,
	h5,
	td,
	th,
	tr
	{
		font-family: sans-serif !important;
		color: darkorchid !important;
	}

	/* Remove navbar, sidebar, and other bits. Re-center content. */
	#mw-head,
	#mw-head-base,
	#mw-page-base,
	#mw-panel
	{
		display: none !important;
	}

	#content
	{
		border: 0px !important;
		margin: 0px !important;
		padding: 1em 2em 1em 2em !important;

	}
}
